.login{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
    text-align: center;
    justify-content: center;
    &__body{
        display: inline-block; 
        padding: 32px 48px 0px 48px; 
        border: 1px solid #EEE;
        width: 505px;
        margin-top: 80px;
    }
}