<div class="todo" *ngIf="load; else loadBar">
  <h1>Todo list on Angular</h1>
  <app-add-todo></app-add-todo>
  <ul class="todo__todo-list todo-list" *ngIf="todosService.todos.length; else nullTodo">
    <li class="todo-list__elem-list" [class.elem-list_done]="todo.completed" [class.elem-list]="!todo.completed" *ngFor="let todo of todosService.todos; let idx = index">
      <label class="elem-list__title">
        <input class="elem-list__check" type="checkbox" [checked]="todo.completed" (change)="onChange(todo.id)" />
        <span class="elem-list__text" [class.elem-list__text_done]="todo.completed">
          <b class="elem-list__id">{{idx+1}}</b> {{todo.title}}
        </span>
      </label>
      <button (click)="removeTodo(todo.id)" class="elem-list__button waves-effect waves-light btn-small"> <i
          class="elem-list__icons material-icons">delete</i></button>
    </li>
  </ul>
  <ng-template #nullTodo>
    <h3 class="todo_null">Список пуст</h3>
  </ng-template>
</div>

<ng-template #loadBar>
  <div *ngIf="!load" class="load preloader-wrapper big active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</ng-template>
